
// ================================ //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//          ❯ Typography
         //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //

$font-size         : 16;
$line-height       : 24;
$line-height-ratio : ($line-height / $font-size);



// ================================ //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//          ❯ MEDIA QUERIES         //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //

$tablet-width  : 48rem;
$desktop-width : 76.8rem;



// ================================ //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //
//          ❯ MAIN COLOR            //
// •••••••••••••••••••••••••••••••• //
// •••••••••••••••••••••••••••••••• //

$white        : #fff;


$cream        : #f7f5f2;
$yellow       : #b4a163;
$yellow-light : #dad0b1;


$red-light    : #b74852;
$red          : #8c262f;

$grey-light   : #cdcdcd; // gris à 80%
$grey         : #3a3a3a; // gris à 23%
$black        : #000;


// $_dark  : darken($, 50%);
// $_light : lighten($, 50%);
